<tr>
  <% @headers.each do |header| %>
    <th><%= header %></th>
  <% end %>
</tr>
<% @table.each do |row| %>
  <tr>
    <td class="calc_name"><%= link_to row.first.name, calculation_path(:type => row.first.label) %></td>
    <% row[1,row.size-1].each do |column| %>
      <% unless column.nil? %>
        <td><%= show_term_tag(column,:decimal_places => 2) %></td>
      <% else %>
        <td></td>
      <% end %>
    <% end %>
  </tr>
<% end %>
<tr class="total">
  <td></td>
  <% @totals.each do |total| %>
    <td><%= show_term_tag(total,:decimal_places => 2) %></td>
  <% end %>
</tr>
