<% totals = @totals.compact %>
<% unless totals.map(&:value).all? {|value| value == 0.0} %>
  <div id="chart_banner">
    <h3>Emissions by greenhouse gas (kg)</h3>
  </div>
    <% totals.delete_if {|term| term.label == :co2e } %>
    <% labels = totals.map(&:name).join('|') %>
    <% y_scale = totals.map(&:value).max.to_f %>
    <% values = totals.map(&:value).join(',') %>
    <% width = 600 %>
    <% bar_width = (width-100)/(totals.size)%>
    <%- url = "http://chart.apis.google.com/chart?"
      url += "chf=a,s,000000CD"
      url += "&chxl=0:|#{labels}"
      url += "&chxr=1,0,#{y_scale}"
      url += "&chxs=0,676767,18|1,676767,15"
      url += "&chxt=x,y"
      url += "&chbh=#{bar_width}"
      url += "&chs=#{width}x450"
      url += "&cht=bvg"
      url += "&chco=3F9D9B"
      url += "&chds=0,#{y_scale}"
      url += "&chd=t:#{values}" -%>
  <img src="<%= url %>" />
<% else %>
  <div id="empty_chart_banner">
    <h3>No emissions recorded</h3>
    <h3>Chart will be drawn here</h3>
  </div>
<% end %>