/* WARNING: THIS CSS FILE EXISTS IN THREE LOCATIONS: MyAMEE, explorer AND THE
   AMEE WEBSITE. IF YOU UPDATE THIS FILE, YOU MUST UPDATE ALL THREE LOCATIONS
   TO ENSURE THE THREE SITE STYLES REMAIN CONSITENT. MAKE YOUR SITE-SPECIFIC
   CHANGES IN THE OTHER, LOCALE SITE CSS FILE. */

/* DISPLAY PRODUCT NAME AS "explorer" EVERYWHERE */


/* SITE BODY STYLES */

body {
    margin: 0;
    padding: 0;
    background-color: #F8F8F8 ;
    font-family: Arial, sans-serif;
    overflow: auto;
}

/* SITE HEADER STYLES */

#header {
    position: fixed;
    top: 0px;
    width: 100%;
    background: #F8F8F8;
    height: 0px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 160%;
    color: #0B7883;
    text-shadow: 2px 2px 2px LightGray;
    font-weight: bold;
    z-index: 3;
}

a {
  text-decoration: none;
}

/* MAIN CONTENT STYLES */

h1 {
    color: #0B7883;
    font-size: 2.8em;
    margin-top: 0px;
}

h1 a {
    color: #0B7883;
}

h2 {
    color: #0B7883;
    font-size: 150%;
    margin-top: 20px;
}

h3 {
    color: #0B7883;
    font-size:100%;
}

h4 {
    font-weight: normal;
}

a img {
    border-width: 0px;
}

a {
    color: black;
}

img {
    vertical-align: middle;
}

div#contentarea {
    font-size: 0.8em;
    clear: both;
    margin-left: auto;
    margin-right: auto;
    width: 1620px;
    position: relative;
    top: 25px;
}

.content_pane {
    background: White;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #E0E0E0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-box-shadow: 1px 1px 15px #E0E0E0;
    -webkit-box-shadow: 1px 1px 15px #E0E0E0;
    box-shadow: 1px 1px 15px #E0E0E0;
}

#benchmark-wrapper {
    position: relative;
    top: 5px;
    padding: 30px;
    padding-top: 20px;
    height: auto;
    margin-bottom: 40px;
    margin-top: 15px;
    margin-left: 15px;
}

#upper-pane {
  position: relative;
  width: 100%;
  height: 300px;
}

#chart {
    width: 990px;
    float: right;
    height: 300px;
    text-align: center;
}

#chart img {
    position: relative;
    margin-top: 100px;
}

iframe {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
}

#benchmark-form-wrapper {
    position: relative;
    top: 0px;
    left: 0px;
    padding: 20px;
    height: 260px;
    width: 550px;
    font-weight: bold;
    margin: 0;
    margin-left: 15px;
    float: left;
}

#benchmark-form-wrapper div {
    position: relative;
}

#benchmark-wrapper {
    position: relative;
    top: 5px;
    padding: 30px;
    padding-top: 20px;
    height: auto;
    margin-bottom: 40px;
    margin-top: 15px;
    margin-left: 15px;
}

#benchmark-table-wrapper {
    position: relative;
    height: 380px;
    width: auto;
    overflow-x: hidden;
}

table#benchmark {
    position: relative;
    margin-top: 10px;
    width: auto;
    height: auto;
    max-height: 340px;
    table-layout: fixed;
}

table#benchmark thead {
    position: relative;
    margin-top: 20px;
    left: 0px;
    width: auto;
    height: 45px;
    -moz-box-shadow: 0px 10px 10px DarkGray;
    -webkit-box-shadow: 0px 10px 10px DarkGray;
    box-shadow: 0px 10px 10px DarkGray;
    z-index: 1;
}

table#benchmark tbody {
    position: absolute;
    top: 100px;
    left: 0px;
    height: auto;
    max-height: 270px;
    width: auto;
    overflow-y: auto;
}

table#benchmark tr td {
    width: auto;
    font-size: 120%;
    font-weight: bold;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    background: White;
    color: #525252;
    vertical-align: middle;
    border-bottom: 2px solid LightGray;
}

table#benchmark tr td.text {
    text-align: left;
}

table#benchmark tr td.number {
    text-align: right;
}

table#benchmark tr th {
    height: auto;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
}

table#benchmark tr td.company, table#benchmark tr th.company {
    width: 300px;
    white-space: normal;
    text-align: left;
}

table#benchmark tr td.sector, table#benchmark tr th.sector {
    width: 300px;
    max-width: 200px;
    white-space: normal;
    text-align: left;
}

table#benchmark tr td.country, table#benchmark tr th.country {
    width: 150px;
    white-space: normal;
    text-align: left;
}

table#benchmark tr td.scope-1-emissions, table#benchmark tr th.scope-1-emissions {
    width: 150px;
    white-space: normal;
    text-align: right;
}

table#benchmark tr td.scope-2-emissions, table#benchmark tr th.scope-2-emissions {
    width: 150px;
    white-space: normal;
    text-align: right;
}

table#benchmark tr td.scope-1-energy, table#benchmark tr th.scope-1-energy {
    width: 150px;
    white-space: normal;
    text-align: right;
}

table#benchmark tr td.scope-2-energy, table#benchmark tr th.scope-2-energy {
    width: 150px;
    white-space: normal;
    text-align: right;
}

table#benchmark tr td.metric, table#benchmark tr th.metric {
    width: 100px;
    white-space: normal;
    text-align: center;
}

table#benchmark tr td.intensity, table#benchmark tr th.intensity {
    width: 120px;
    white-space: normal;
    text-align: right;
}

table#benchmark tr.My-Company td {
    background: Green;
    color: White
}

table#filter {
    font-weight: bold;
    font-size: 120%;
    white-space: nowrap;
}



table {
    font-family:"Trebuchet MS", Helvetica, sans-serif;
    background: White;
    position: relative;
    border-spacing: 0px;
}

td {
    text-align: left;
    padding: 3px;
    position: relative;
    background: White;
    color: #525252;
    vertical-align: middle;
    padding-right: 5px;
    width: auto;
}

td select, input {
    border: 1px solid LightGray;
    background: White;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    color: Darkgray;
    vertical-align: middle;
    text-align: centre;
    padding-right: 5px;
    font-size: 100%;
    width: auto;
    display: inherit;
}

td select:focus, input:focus {
    background: inherit;
    color: DarkGray;
}

td select:hover, input:hover {
    color:DarkGray;
}

th {
    text-align: centre;
    background: Gainsboro;
    text-shadow: 2px 2px 2px White;
    
}

div.clear {
    clear: both;
    line-height: 0;
    height: 0;
}

#amee-logo {
    position: absolute;
    top: 90px;
    left: 10px;
}

#tagline {
    position: absolute;
    top: 80px;
    right: 90px;
    text-align: right;
    font-size: 130%;
    line-height: 0.5;
    text-shadow: 4px 4px 4px White;

}

#tagline h1 {
  color: #9b9b9b;
}

#tagline h2 {
  color: #9b9b9b;
}

#benchmark-form-wrapper form input[type='submit'] {
    position: relative;
    background: #E0E0E0;
    padding: 5px 10px;
    font-size: 13px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    white-space: nowrap;
    color: Black;
    text-shadow: 2px 2px 2px White;
    text-decoration: none;
    margin-top: 8px;
    margin-right: 0px;
}

#benchmark-form-wrapper form input[type='submit']:hover {
    background: #afcfff;
}