<tr>
  <td class="text company">No matches</td>
  <td class="text country">&nbsp;</td>
  <td class="text sector">&nbsp;</td>
  <td class="number scope-1-emissions">&nbsp;</td>
  <td class="number scope-2-emissions">&nbsp;</td>
  <td class="number scope-1-energy">&nbsp;</td>
  <td class="number scope-2-energy">&nbsp;</td>
  <td class="text metric">&nbsp;</td>
  <td class="number intensity">&nbsp;</td>
  <td class="dummy"></td>
</tr>