<%= render :partial => 'benchmark_scripts' %>
<div id="upper-pane">
  <%= render :partial => 'browse_panel' %>
</div>
<div id="benchmark-wrapper" class="content_pane">
  <div id="benchmark-table-wrapper">
    <%= render :partial => 'company_table' %>
  </div>
</div>
<br/>
<br/>