<div id="user" class="content_pane">
  <h3>Welcome to the <%= $tool_name %> calculation tool</h3>
  <div id="instructions">
    <h2 class="instructions">Getting started...</h2>
    <h3 class="instructions">1. Select a process from the tabs at the foot of the page</h3>
    <h3 class="instructions">2. Make calculations by entering data into each table row</h3>
    <h3 class="instructions">3. Add associated metadata (e.g. reporting period, process descriptors) to calculations as appropriate</h3>
    <h3 class="instructions">4. Expand the table to enter optional data for more accurate calculations, if available</h3>
    <h3 class="instructions">5. Repeat for processes under consideration</h3>
    <h3 class="instructions">6. View the results using the 'Summary' tab</h3>
    <h3 class="instructions">7. Export results to PDF for sharing</h3>
  </div>
</div>